spring:
  application:
    name: server
  datasource:
    url: "jdbc:mysql://summer-of-jake-db-2.czgclmxuds1z.us-east-1.rds.amazonaws.com:3306/INFOSERVICE"
    password: "summerofjake"
    username: "admin"
  jpa:
    hibernate.ddl-auto: none
    generate-ddl: true
    show-sql: true
  management:
    security:
      enabled: false